<ion-view>
    <ion-content class="view-pane" ng-show="showFlag">
    	<ion-list class="list list-top">
			<ion-item class="item">
                <div class="row row-center list-row-con">
                    <div class="col col-25 text-center">
                    	<span class="title">{{langs.shipments}}{{langs.doc }}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="title">{{langs.supplier}}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="title">{{langs.receiveing}}{{langs.docno}}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="title">{{langs.receive_item }}{{langs.date}}</span>
                    </div>
                </div>
			</ion-item>
			<ion-item class="item">
                <div class="row row-center list-row-con">
                    <div class="col col-25 text-center">
                    	<span class="content2">{{data.delivery_no}}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="content2">{{data.supplier_name}}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="content2">{{data.receipt_no}}</span>
                    </div>
                    <div class="col col-25 text-center">
                    	<span class="content2">{{data.receipt_date}}</span>
                    </div>
                </div>
			</ion-item>
		</ion-list>
        <ion-list class="list">
			 <ion-item class="item-top">
                <div class="row row-center list-row-con">
                    <div class="col col-10 text-left">
                        <span class="title">{{langs.seq}}</span>
                    </div>
                    <div class="col col-20 text-left">
                    	<span class="title">料号</span>
                    </div>
                    <div class="col col-20 text-center">
                    	<span class="title">{{langs.product_name}}</span>
                    </div>
                    <div class="col col-20 text-center">
                    	<span class="title">{{langs.specification}}</span>
                    </div>
                    <div class="col col-10 text-center">
                    	<span class="title">送验{{langs.mete}}</span>
                    </div>
                    <div class="col col-10 text-center">
                      <span class="title">{{langs.eligible}}{{langs.mete}}</span>
                    </div>
                    <div class="col col-10 text-center">
                    	<span class="title">判定状态</span>
                    </div>
                </div>
			</ion-item>
			<ion-item class="item" ng-repeat="item in items">
                <div class="row row-center list-row-con" ng-click="goList($index)">
                    <div class="col col-10 text-left">
                        <span class="content2">{{item.seq}}</span>
                    </div>
                    <div class="col col-20 text-center">
                        <span class="content2">{{item.item_no}}</span>
                    </div>
                    <div class="col col-20 text-center">
                        <span class="content2">{{item.item_name}}</span>
                    </div>
                    <div class="col col-20 text-center">
                        <span class="content2">{{item.item_spec}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{item.receipt_qty}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{item.ok_qty}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{item.result_type}}</span>
                    </div>
                </div>
			</ion-item>
		</ion-list>
    </ion-content>
</ion-view>
