<ion-view>
    <ion-content class="view-pane has-scanning-tabs-top" scroll="false">
        <div class="row row-center">
            <i class="icon ion-ios-barcode-outline scan-ion" ng-click="scan(2)"></i>
            <div class="item-input scan-inpnt scan-title-color">
                <input focus-me="scaninfo.focus_sm"
                       type="text" hide-keypad placeholder="{{langs.start_scan}}{{xlangs.shipping_mark_no}}"
                       dg-scanned="scanSMark(value)" ng-model="scaninfo.smark_scanning">
                <i class="icon ion-ios-close-outline"
                   on-tap="scaninfo.smark_scanning = ''" ng-if="scaninfo.smark_scanning >''"></i>
            </div>
        </div>
        <div class="row row-center">
            <i class="icon ion-ios-barcode-outline scan-ion" ng-click="scan()"></i>
            <div class="item-input scan-inpnt scan-title-color">
                <input focus-me="scaninfo.focus_me" type="text" hide-keypad placeholder="{{langs.start_scan}}" dg-scanned="scanned(value)" ng-model="scaninfo.scanning">
                <i class="icon ion-ios-close-outline" on-tap="clearScanning()"></i>
            </div>
        </div>
        <div class="col title-col-con scan-title-color">
            <div class="row row-center title-row-con" ng-if="l_data.show_ingoing">
                <div class="col col-25">{{langs.outgoing}}{{langs.warehouse}}</div>
                <div class="col" ng-click="warehouseShow_outgoing()">
                    <i class="icon ion-ios-compose-outline"></i>&nbsp;{{sel_indicate.warehouse_name}}
                </div>
            </div>
            <div class="row row-center title-row-con">
                <div class="col col-25" ng-if="!l_data.show_ingoing">{{langs.warehouse}}</div>
                <div class="col col-25" ng-if="l_data.show_ingoing">{{langs.ingoing}}{{langs.warehouse}}</div>
                <div class="col" ng-click="warehouseShow()">
                    <i class="icon ion-ios-compose-outline"></i>&nbsp;{{scaninfo.warehouse_name}}
                </div>
                <div class="col col-10 text-right col-no-padding" ng-if="page_params.in_out_no == '0' || page_params.program_job_no == '13-5' ">
                    <i class="icon ion-ios-close-outline icon-medium" on-tap="clearWarehouse()"></i>
                </div>
            </div>
            <div class="row row-center title-row-con">
                <div class="col col-25" ng-if="!l_data.show_ingoing">{{langs.storage}}</div>
                <div class="col col-25" ng-if="l_data.show_ingoing">{{langs.ingoing}}{{langs.storage}}</div>
                <div class="col" ng-click="storageShow()">
                    <i class="icon ion-ios-compose-outline"></i>&nbsp;{{scaninfo.storage_spaces_name}}
                </div>
                <div class="col col-10 text-right col-no-padding">
                    <i class="icon ion-ios-close-outline icon-medium" on-tap="clearStorage()"></i>
                </div>
            </div>
            <div class="row row-center title-row-con" ng-if="!l_data.show_ingoing">
                <div class="col col-25">{{langs.lot}}</div>
                <div class="col " ng-click="lotShow()">
                    <i class="icon ion-ios-compose-outline"></i>&nbsp;{{scaninfo.lot_no}}
                </div>
                <div class="col col-10 text-right col-no-padding">
                    <i class="icon ion-ios-close-outline icon-medium" on-tap="scaninfo.lot_no = '' "></i>
                </div>
            </div>
            <div class="row row-center title-row-con" ng-if="l_data.show_reason">
                <div class="col col-25">{{langs.reason_no}}</div>
                <div class="col" ng-click="reasonShow()">
                    <i class="icon ion-ios-compose-outline"></i>&nbsp;{{scaninfo.reason_code_name}}
                </div>
                <div class="col col-10 text-right col-no-padding">
                    <i class="icon ion-ios-close-outline icon-medium" on-tap="clearReason()"></i>
                </div>
            </div>
            <div class="row title-row-con" ng-if="!l_data.allocation_1 && !l_data.allocation_2">
                <div class="col col-25">{{xlangs.shipping_mark}}</div>
                <div class="col " ng-click="sMarkShow()">
                    {{scaninfo.shipping_mark}}
                </div>
                <!--<div class="col col-10 text-right col-no-padding">-->
                <!--<i class="icon ion-ios-barcode-outline scan-ion" ng-click="scan(2)"></i>-->
                <!--&lt;!&ndash;<i class="icon ion-ios-close-outline icon-medium" on-tap="scaninfo.shipping_mark = '' "></i>&ndash;&gt;-->
                <!--</div>-->
            </div>
        </div>
        <hr>
        <ion-nav-view name="xyc_fil_01_s03_list" sub-view-parse="subView"></ion-nav-view>
    </ion-content>
</ion-view>

