<div class="row row-center" ng-show="pop.in_out_no == '-1' ">
    <div class="col col-67">{{langs.barcode}}{{langs.stock}}{{langs.qty}}</div>
    <div class="col text-right">{{pop.barcode_qty}}</div>
</div>
<div class="row row-center" ng-show="pop.in_out_no != '-1' ">
    <div class="col col-67">{{langs.barcode}}{{langs.qty}}</div>
    <div class="col text-right">{{pop.barcode_qty}}</div>
</div>
<div class="row row-center">
    <div class="col col-67">{{langs.receipt}}{{langs.surplus}}{{langs.qty}}</div>
    <div class="col text-right">{{pop.receipt_surplus_qty}}</div>
</div>
<div class="row row-center h3 quantity-form">
    <a class="mins" ng-click="mins('pop.qty')">-</a>
    <input class="qty" autofocus type="number" onfocus="this.select()" string-to-number ng-model="pop.qty">
    <a class="add" ng-click="add('pop.qty')">+</a>
</div>
