<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title title-center">{{langs.please_choose}}{{langs.warehouse}}</h1>
        <button class="button button-clear button-primary" ng-click="close()">{{langs.cancel}}</button>
    </ion-header-bar>
    <div class="bar bar-subheader view-pane">
        <div class="item-input popupSearch">
            <input type="text" autofocus hide-keypad ng-model="popSelected.search" placeholder="{{langs.search + langs.warehouse + langs.keyword}}">
            <i class="icon ion-search"></i>
        </div>
    </div>
    <ion-content class="padding has-footer has-subheader view-pane warehouse">
        <ion-list>
            <ion-radio ng-click="selwarehouse(warehouse)" collection-repeat="warehouse in warehouses | filter:({warehouse_no:popSelected.search} || {warehouse_name:popSelected.search})" item-width="100%" item-height="55" ng-model="$parent.popSelected.warehouse_no" ng-value="warehouse.warehouse_no">{{warehouse.warehouse_name}}</ion-radio>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="setwarehouse()">
        <h1 class="title">{{langs.confirm}}</h1>
    </div>
</ion-modal-view>
