<ion-modal-view>
    <ion-header-bar class="bar bar-header headerStyle">
        <h1 class="title titleStyle">{{ userInfo.language | langFilter: [langs.please_choose, langs.manufacturers] }}</h1>
        <button class="button button-icon icon ion-android-close" ng-click="close()"></button>
    </ion-header-bar>
    <div class="bar bar-subheader view-pane">
        <div class="item-input popupSearch">
            <input type="text" autofocus ng-model="popSelected.search" placeholder="{{ userInfo.language | langFilter: [langs.search, langs.manufacturers, langs.keyword] }}">
            <i class="icon ion-search" ng-click="getManufacturers(popSelected.search)"></i>
        </div>
    </div>
    <ion-content class="has-footer has-subheader">
        <div class="row row-header">
            <div class="col col-10 checkbox" style="margin-right: 10px; padding-top: 2px;">
                <input type="checkbox" class="checkbox-icon" ng-model="popSelected.isAllSelected" ng-click="selectAll()">
            </div>
            <div class="col col-50 col-ellipsis">
                {{langs.manufacturers_name}}
            </div>
            <div class="col col-20 col-ellipsis">
                {{langs.doc_number}}
            </div>
            <div class="col col-20 col-ellipsis">
                {{langs.detail_cnt}}
            </div>
        </div>
        <ion-item class="row popupItem" style="height: 44px;" ng-repeat="manufacturer in manufacturers | filter: popSelected.search | orderBy:['-color', 'vendor_no'] ">
            <div class="col col-10 checkbox" style="margin-right: 10px;">
                <input type="checkbox" class="checkbox-icon" ng-model="manufacturer.checked">
            </div>
            <div class="col col-50 col-field" ng-style="{'color': setFontColor(manufacturer.color) }">{{manufacturer.vendor_name}}</div>
            <div class="col col-20 col-field">{{manufacturer.po_cnt}}</div>
            <div class="col col-20 col-field">{{manufacturer.podetail_cnt}}</div>
        </ion-item>
        <br />
    </ion-content>
    <div class="bar bar-footer footerStyle" ng-click="setManufacturers()">
        <h1 class="title titleStyle">{{langs.confirm}}</h1>
    </div>
</ion-modal-view>