<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title title-center">{{langs.please_choose}}</h1>
        <button class="button button-clear button-primary" ng-click="close()">{{langs.cancel}}</button>
    </ion-header-bar>
    <ion-content class="padding has-footer view-pane" scroll="false">
        <ion-content scroll="false">
            <div class="row row-center">
                <div class="item-input popupSearch">
                    <input type="text" ng-model="scaninfo.search" placeholder="{{langs.search + langs.item_no + langs.keyword}}">
                    <i class="icon ion-search"></i>
                </div>
            </div>
            <div class="col title-col-con">
                <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                    <div class="col" ng-if="!(userInfo.isDisplay_no) && !(userInfo.isDisplay_name) && !(userInfo.isDisplay_spec)">{{langs.item_no}}</div>
                    <div class="col" ng-if="userInfo.isDisplay_no">{{langs.item_no}}</div>
                    <div class="col" ng-if="userInfo.isDisplay_name" ng-class="{'text-right':!userInfo.isDisplay_spec}">{{langs.product_name}}</div>
                    <div class="col text-right" ng-if="userInfo.isDisplay_spec">{{langs.specification}}</div>
                </div>
                <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                    <div class="col col-50" ng-if="!userInfo.feature"></div>
                    <div class="col col-50" ng-if="userInfo.feature">{{langs.item_feature}}</div>
                    <div class="col col-50 text-right">{{langs.expected_delivery}}</div>
                </div>
            </div>
            <div class="row row-center" style="padding-left: 10px;">
                <div class="checkbox">
                    <input type="checkbox" class="checkbox-icon" ng-change="checkedALL()" ng-model="scaninfo.checked">
                </div>
                <div class="col col-center">{{langs.select_all}} / {{langs.not_select_all}}</div>
            </div>
        </ion-content>
        <ion-content style="top:140px;">
            <ion-list>
                <ion-item class="list_item" item-width="100%" item-height="65" ng-repeat="item in item_detail | filter:scaninfo.search " ng-click="seldata(r)">
                    <div class="row row-center">
                        <div class="checkbox">
                            <input type="checkbox" class="checkbox-icon" ng-model="item.checked">
                        </div>
                        <div class="col list-col-con">
                            <div class="row row-center list-row-con">
                                <div class="col col-ellipsis" ng-if="!(userInfo.isDisplay_no) && !(userInfo.isDisplay_name) && !(userInfo.isDisplay_spec)">{{ item.item_no}}</div>
                                <div class="col col-ellipsis" ng-if="userInfo.isDisplay_no">{{item.item_no}}</div>
                                <div class="col col-ellipsis" ng-if="userInfo.isDisplay_name" ng-class="{'text-right':!userInfo.isDisplay_spec}">{{item.item_name}}</div>
                                <div class="col col-ellipsis text-right" ng-if="userInfo.isDisplay_spec">{{item.item_spec}}</div>
                            </div>
                            <div class="row row-center list-row-con">
                                <div class="col col-50 col-ellipsis" ng-if="!userInfo.feature"></div>
                                <div class="col col-50 col-ellipsis" ng-if="userInfo.feature">{{item.item_feature_name || item.item_feature_no}}</div>
                                <div class="col col-50 col-ellipsis text-right">{{item.in_out_date1}}</div>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-click="selItem()">
        <h1 class="title">{{langs.confirm}}</h1>
    </div>
</ion-modal-view>
