<ion-view class="view-pane">
    <ion-header-bar class="bar bar-header" align-title="center">
        <button ui-sref="fil_00_s04" class="button button-icon icon ion-android-arrow-dropleft-circle"></button>
        <div class="row row-center">
            <i class="icon ion-ios-barcode-outline scan-ion" ng-click="scan()"></i>
            <div class="item-input scan-inpnt scan-title-color">
                <input focus-me="scaninfo.focus_me" type="text" hide-keypad placeholder="{{langs.start_scan}}" dg-scanned="scanned(value)"
                    keep-data="true" ng-model="scaninfo.scanning">
                <i class="icon ion-ios-close-outline" on-tap="clearScanning()"></i>
            </div>
        </div>
        <button ng-click="showQbeTodoNotice()" class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="col title-col-con">
            <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                <div class="col">{{langs.batch}}</div>
                <div class="col col-33 text-right">{{langs.dispatch}}{{langs.time}}</div>
            </div>
            <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                <div class="col">{{langs.item_no}}</div>
                <div class="col col-33 text-right">{{langs.qty}}</div>
            </div>
            <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                <div class="col">{{langs.product_name}}</div>
                <div class="col col-33 text-right">{{langs.workstation}}{{langs.name}}</div>
            </div>
            <div class="row row-center title-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                <div class="col">{{langs.specification}}</div>
                <div class="col col-33 text-right">{{langs.machine}}{{langs.name}}</div>
            </div>
        </div>
        <ion-nav-view name="fil_25_s01_list" sub-view></ion-nav-view>
    </ion-content>
    <div class="bar bar-footer bar-positive" ng-show="l_data.show_submit" ng-click="submit()">
        <h1 class="title">{{langs.submit}}</h1>
    </div>
</ion-view>