<div>
    <div class="row">
        <div class="item-input popupSearch">
            <input type="text" ng-model="search" placeholder="{{langs.search +xlangs.doc_id+ langs.keyword}}">
            <i class="icon ion-search"></i>
        </div>
    </div>
    <div class="popupList">
        <ion-content>
            <ion-list>
                <ion-radio ng-click="setTransferdoc(transfer_doc)" collection-repeat="transfer_doc in transfer_docs | filter:search" item-height="55" ng-model="$parent.popSelected.transfer_doc_no" ng-value="transfer_doc.transfer_doc_no">{{transfer_doc.transfer_doc_no}}</ion-radio>
            </ion-list>
        </ion-content>
    </div>
</div>
