<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-calm">
        <h1 class="title title-center">{{langs.please_choose}}{{xlangs.item_no}}</h1>
        <button class="button button-clear button-primary" ng-click="close()">{{langs.cancel}}</button>
    </ion-header-bar>
    <div class="bar bar-subheader view-pane xbar-subheader" ng-show="showflag">
        <div class="row">
            <div class="col-10 row-standard row-title-padding">{{xlangs.item_no}}</div><!--采购部门-->

            <div class="item-input popupSearch">
                <input type="text" ng-model="filterInfo.filterItem.searchItemCode"
                       placeholder="{{langs.search + xlangs.item_no + langs.keyword}}">

            </div>
            <i class="icon ion-search scan-ion" ng-click="queryItem()"></i>
        </div>
        <div class="row">
            <div class="col-10 row-standard row-title-padding">{{langs.product_name}}</div><!---->

            <div class="item-input popupSearch">
                <input type="text" ng-model="filterInfo.filterItem.searchItemName"
                       placeholder="{{langs.search + langs.product_name + langs.keyword}}">
                <!--<i class="icon ion-search"></i>-->
            </div>
        </div>
        <div class="row">
            <div class="col-10 row-standard row-title-padding">{{langs.specification}}</div><!---->
            <div class="item-input popupSearch">
                <input type="text" ng-model="filterInfo.filterItem.searchSpec"
                       placeholder="{{langs.search + langs.specification + langs.keyword}}">
                <!--<i class="icon ion-search"></i>-->
            </div>
        </div>
    </div>
    <div class="xside-bar calm" ng-class=" {'xtop-170':showflag,'xtop-40':!showflag}">
        <i class="icon bar-calm  " ng-click="showBar()"
           ng-class="{'ion-ios-arrow-up':showflag,
       ' ion-ios-arrow-down':showflag==false


       }"></i>
    </div>
    <ion-content class="padding  has-footer view-pane warehouse " ng-class="{true:'xhas-subheader'}[showflag]">
        <!--<ion-refresher pulling-text="下拉全选" on-refresh="selectAll()"></ion-refresher>-->
        <ion-list>
            <!--<ion-checkbox-->
            <!--ng-repeat="admin in admins | filter:({admin_unit_no:search} || {admin_unit_name:search})"-->
            <!--item-height="55"-->
            <!--ng-checked="admin.checked">-->
            <!---->
            <!--</ion-checkbox>-->
            <li class="xitem item-checkbox "
                collection-repeat="item in  items|filter:{ITEM_CODE:filterInfo.filterItem.searchItemCode}
                | filter: {ITEM_NAME:filterInfo.filterItem.searchItemName} |
                filter: {ITEM_SPECIFICATION:filterInfo.filterItem.searchSpec}  "
                item-height="55"
            >
                <label class="checkbox">
                    <input type="checkbox" ng-model="item.checked">
                </label>
                <div class="row list-row-con">
                    <div class="col col-50">
                        {{item.ITEM_CODE}}
                    </div>
                    <div class="col col-50 text-right space">
                        {{item.ITEM_NAME}}
                    </div>
                </div>
            </li>
        </ion-list>
        <ion-infinite-scroll  on-infinite="loadMore()"
                              distance="15%"
                              ng-if = "hasMore"
        ></ion-infinite-scroll>
    </ion-content>
    <div class="bar bar-footer bar-calm" >
        <button class="button button-clear button-primary" ng-click="selectAll()">{{selectMode}}</button>
        <h1 class="xfoot-bar title title-center " ng-click="setItem()">{{langs.confirm}}</h1>
    </div>
</ion-modal-view>
