<div>
    <!--<div class="row">-->
    <!--<div class="item-input popupSearch">-->
    <!--<input type="text" ng-model="search" placeholder="{{langs.search + langs.warehouse + langs.keyword}}">-->
    <!--<i class="icon ion-search"></i>-->
    <!--</div>-->
    <!--</div>-->
    <div class="xpopupList">
        <ion-content>
            <label class="item item-input" ng-click="diplay.displayType = !diplay.displayType">
                <div class="col col-50">{{xlangs.xstatus}}</div>
                <div class="col col-offset-33 col-10 text-right">
                    <i class="ion-chevron-down" ng-show="diplay.displayType"></i>
                    <i class="ion-chevron-right" ng-hide="diplay.displayType"></i>
                </div>
            </label>

            <ion-list ng-show="diplay.displayType">
                <ion-radio
                           collection-repeat="item in status"
                           ng-model="popSelected.value"
                           item-width="100%" item-height="55"
                           ng-value="item.value">
                    <div class="row list-row-con">
                        {{item.name}}
                    </div>
                </ion-radio>
            </ion-list>
        </ion-content>
    </div>
</div>
