<ion-view>
    <ion-content scroll="false">
        <ion-scroll direction="x" class="timetable_scroll" style="height: 100%;" delegate-handle="receiptListScroll" has-bouncing="false">
            <div class="list_item row row-header">
                <div class="row">
                    <div class="col col-screen-0" ng-show="isCheckboxShown"></div>
                    <div class="col col-screen-1 text-right" style="margin-right: 5px;">
                        {{langs.day}}
                    </div>
                    <div class="col" ng-class="{true: 'col-screen-2_1', false: 'col-screen-2_2'}[isCheckboxShown]">
                        {{langs.docno}}
                    </div>
                    <div class="col col-screen-4 text-right">
                        {{langs.detail_cnt}}
                    </div>
                    <div class="col col-screen-5 text-right">
                        {{langs.compared}}
                    </div>
                    <div class="col col-screen-6 text-center">
                        {{langs.item_status}}
                    </div>
                    <div class="col" ng-class="{true: 'col-screen-3_1', false: 'col-screen-3_2'}[isCheckboxShown]">
                        {{langs.department}}
                    </div>
                </div>
            </div>
            <ion-scroll direction="y" has-bouncing="false" style="height: 100%;">
                <ion-item class="list_item row itemStyle" on-hold="MoreFeaturesShow(receipt); $event.stopPropagation();" style="width: 100%; height: 44px;"
                    ng-repeat="receipt in guided_out | filter: filter | orderBy: setOrderRule() | limitTo:cnt:cnt*(form.page-1)"
                    on-finish-render="ngRepeatStatus" ng-click="setItemColor(receipt, $index)">
                    <div class="row">
                        <div class="col col-screen-0 checkbox" ng-show="isCheckboxShown" style="padding-top: 2px;">
                            <input type="checkbox" class="checkbox-icon" ng-model="receipt.checked" ng-change="setSelColor(receipt)">
                        </div>
                        <div class="col col-screen-1 col-field text-right" style="margin-right: 5px;" ng-style="{'background-color': receipt.show_color, 'color':(receipt.show_color == 'rgb(255, 0, 0)' ? 'white' : '')}">{{receipt.days}}</div>
                        <div class="col col-field" ng-class="{true: 'col-screen-2_1' + ' ' + receipt.selColor, false: 'col-screen-2_2'}[isCheckboxShown]"
                            ng-style="{'background-color': receipt.color}">{{receipt.doc_no}}</div>
                        <div class="col col-screen-4 col-field text-right" ng-style="{'background-color': receipt.color}">{{receipt.detail_cnt}}</div>
                        <div class="col col-screen-5 col-field text-right" ng-style="{'background-color': receipt.color}" ng-bind="isCheckboxShown ? receipt.contrast_num : ''"></div>
                        <div class="col col-screen-6 checkbox" style="padding-top: 2px;" ng-style="{'background-color': receipt.color}"><input style="margin: auto; text-align: center;" ng-value="(receipt.status_num > 0) ? receipt.status_num : ''" ng-style="{'background-color': receipt.status_color, 'color':(receipt.status_color == 'red' ? 'white' : '')}" disabled /></div>
                        <div class="col col-field" ng-class="{true: 'col-screen-3_1', false: 'col-screen-3_2'}[isCheckboxShown]" ng-style="{'background-color': receipt.color}">{{receipt.dept_name}}</div>
                    </div>
                </ion-item>

                <br />
            </ion-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>