<ion-view>
    <ion-content class="view-pane">
        <ion-list>
            <ion-item class="list_item scan-title-color" item-width="100%" item-height="collection_item_height" collection-repeat="item in temp_scanning_detail">
                <div class="col list-col-con" ng-click="closeOption()">
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="views.has_source">
                        <div class="col">{{item.source_no}}#{{item.seq}}</div>
                        <div class="col col-33 text-right">{{item.qty}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                        <div class="col col-100">{{item.barcode_no}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="!(userInfo.isDisplay_no) && !(userInfo.isDisplay_name) && !(userInfo.isDisplay_spec)">
                        <div class="col col-ellipsis">{{item.item_no}}</div>
                        <div class="col col-33 text-right" ng-if="!views.has_source">{{item.qty}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="userInfo.isDisplay_no || userInfo.isDisplay_name || userInfo.isDisplay_spec">
                        <div class="col col-ellipsis" ng-if="userInfo.isDisplay_no">{{item.item_no}}</div>
                        <div class="col col-ellipsis" ng-if="userInfo.isDisplay_name" ng-class="{'text-right':!userInfo.isDisplay_spec && views.has_source}">{{item.item_name || item.item_no}}</div>
                        <div class="col col-ellipsis" ng-if="userInfo.isDisplay_spec" ng-class="{'text-right':(userInfo.isDisplay_no || userInfo.isDisplay_name) && views.has_source}">{{item.item_spec}}</div>
                        <div class="col col-33 text-right" ng-if="!views.has_source">{{item.qty}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="userInfo.feature || views.show_op">
                        <div class="col col-50 col-ellipsis" ng-if="userInfo.feature">{{item.item_feature_name || item.item_feature_no}}</div>
                        <div class="col col-50 col-ellipsis" ng-if="!userInfo.feature"></div>
                        <div class="col col-50 text-right" ng-if="views.show_op">{{item.op_name || item.op_no}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="views.show_reason">
                        <div class="col ">{{item.reason_no}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                        <div class="col col-33">{{item.warehouse_no}}</div>
                        <div class="col col-33">{{item.storage_spaces_no}}</div>
                        <div class="col col-33 text-right" ng-if="!views.show_ingoing">{{item.lot_no}}</div>
                    </div>
                    <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="views.show_ingoing">
                        <div class="col col-33">{{item.ingoing_warehouse_no}}</div>
                        <div class="col col-33">{{item.ingoing_storage_spaces_no}}</div>
                        <div class="col col-33 text-right">{{item.lot_no}}</div>
                    </div>
                </div>
                <!-- <ion-option-button class="button button-royal" ng-if="checkIsShowEditMultiUnit(item)" ng-click="editMultiUnit('detail',$index)">{{langs.multi_unit}}</ion-option-button> -->
                <ion-option-button class="button button-calm" ng-if="page_params.in_out_no == '1' || page_params.in_out_no == '0' " ng-click="splitGoods($index)">{{langs.split}}</ion-option-button>
                <ion-option-button class="button icon ion-ios-compose-outline button-balanced" ng-click="editGoods($index)"></ion-option-button>
                <ion-option-button class="button icon ion-ios-trash-outline button-assertive" ng-click="delGoods($index)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>