<ion-view>
    <ion-content class="view-pane" ng-show="showFlag">
    	<ion-list class="list list-top">
			<ion-item class="item">
                <div class="row row-center list-row-con">
                  <div class="col col-5 text-center">
                      <span class="title">{{langs.seq}}</span>
                  </div>
                  <div class="col col-10 text-center">
                    <span class="title">{{langs.product_no}}</span> <!--品号-->
                  </div>
                  <div class="col col-10 text-center">
                    <span class="title">{{langs.product_name}}</span>
                  </div>
                  <div class="col col-10 text-center">
                    <span class="title">{{langs.specification}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.item_feature_no}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.item_feature_name}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.inspect}}{{langs.mete}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.eligible}}{{langs.mete}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.uneligible}}{{langs.mete}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.examine}}{{langs.break}}{{langs.mete}}</span>
                  </div>
                  <div class="col text-center">
                    <span class="title">{{langs.judge}}{{langs.status}}</span>
                  </div>
                </div>
			</ion-item>
			<ion-item class="item">
                <div class="row row-center list-row-con">
                    <div class="col col-5 text-center">
                        <span class="content2">{{data.seq}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{data.item_no}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{data.item_name}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content2">{{data.item_spec}}</span>
                    </div>
                    <div class="col text-center">
                      <span class="content2">{{data.item_feature_no}}</span>
                    </div>
                    <div class="col text-center">
                      <span class="content2">{{data.item_feature_name}}</span>
                    </div>
                    <div class="col text-center">
                        <span class="content2">{{data.receipt_qty}}</span>
                    </div>
                    <div class="col text-center">
                        <input class="content2" ng-model="data.ok_qty" type="number" ng-blur="checkQty(ok)" />
                    </div>
                    <div class="col text-center">
                        <input class="content2" ng-model="data.unqualified_qty" type="number" ng-blur="checkQty(unqualified)" />
                    </div>
                    <div class="col text-center">
                      <input class="content2" ng-model="data.checkdestroy_qty" type="number" ng-blur="checkQty(checkdestroy)" />
                    </div>
                    <div class="col text-center">
                        <span class="content2" ng-if="data.result_type == 'Y'" >{{langs.eligible}}</span>
                        <span class="content2" ng-if="data.result_type != 'Y'" >{{langs.uneligible}}</span>
                    </div>
                </div>
			</ion-item>
		</ion-list>
        <ion-list class="list" >
            <ion-item class="item-top">
                <div class="row row-center list-row-con">
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.hangseq}}</span>
                    </div>
                    <div class="col col-20 text-center">
                        <span class="title">{{langs.examine}}{{langs.project}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.RDinspect}}{{langs.mete}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.quality}}{{langs.qty}}AC</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.rejection}}{{langs.qty}}RE</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.bad}}{{langs.qty}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.bad}}{{langs.reason}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <span class="title">{{langs.project}}{{langs.judge}}</span>
                    </div>
                    <div class="col col-10 text-center">   <!--NG-->
                    </div>
                    <!-- <div class="col col-10 text-center">
                    </div> -->
                </div>
            </ion-item>
            <ion-item class="item" ng-repeat="item in items" ng-hide = "item.seq == 0">
                <div class="row row-center list-row-con" >
                    <div class="col col-10 text-center">
                        <span class="content">{{item.qc_seq}}</span>
                    </div>
                    <div class="col col-20 text-center">
                        <span class="content">{{item.test_name}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <input class="content" type="number" ng-model="item.test_qty" ng-blur="check_test_qty($index)" />
                    </div>
                    <div class="col col-10 text-center">
                        <input class="content" type="number" ng-model="item.acceptable_qty" ng-blur="check_test($index,flag=1)"/>
                    </div>
                    <div class="col col-10 text-center">
                        <input class="content" type="number" ng-model="item.rejected_qty" ng-change="check_test($index,flag=2)">
                    </div>
                    <div class="col col-10 text-center">
                        <input class="content" type="number" ng-model="item.return_qty" ng-change="check_test($index,flag=3)">
                    </div>
                    <div class="col col-10 text-center">
                        <input ng-if="item.reason_list.length !=1" class="content" type="text" readonly/>   <!--不良原因-->
                        <input ng-if="item.reason_list.length ==1" class="content" type="text" ng-model="item.reason_list[0].reason_name" readonly/>   <!--不良原因-->
                    </div>
                    <div class="col col-10 text-center">
                        <span class="content" ng-if= "item.result_type =='Y'" >{{langs.eligible}}</span>
                        <span class="content" ng-if= "item.result_type !='Y'" >{{langs.uneligible}}</span>
                    </div>
                    <div class="col col-10 text-center">
                        <a class="ng" ng-click="goReason($index)" ng-hide="item.return_qty==0">
                            <img src="views/app/common/html/image/ng.png">
                        </a>
                    </div>
                    <!-- <div class="col col-10 text-center">
                        <a class="ng" ng-click="goMeasured_value($index)">
                            <img src="views/app/fil_24/img/v.png" >
                        </a>
                    </div> -->

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
