<ion-tabs class="tabs-color-active-positive scanning-tabs">
    <button ng-click="goTodolistNotice()" class="button button-icon icon ion-android-arrow-dropleft-circle"></button>
    <ion-tab ng-if="!views.show_s07_page" title="{{langs.barcode + langs.scanning}}" ui-sref="fil_common_s02.fil_common_s03">
        <ion-nav-view name="fil_common_s03"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-if="!views.show_s07_page" title="{{langs.scanning + langs.detail}}" ui-sref="fil_common_s02.fil_common_s04">
        <ion-nav-view name="fil_common_s04"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-if="views.show_s07_page" title="{{langs.barcode + langs.scanning}}" ui-sref="fil_common_s02.fil_common_s07">
        <ion-nav-view name="fil_common_s07"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-if="true" title="{{langs.data_collection}}" ui-sref="fil_common_s02.fil_common_s05">
        <ion-nav-view name="fil_common_s05"></ion-nav-view>
    </ion-tab>
    <ion-tab ng-if="views.show_directive" title="{{langs.goods_issue + langs.directive}}" ui-sref="fil_common_s02.fil_common_s06">
        <ion-nav-view name="fil_common_s06"></ion-nav-view>
    </ion-tab>
</ion-tabs>