<ion-view>
    <ion-content ng-class="{'has-footer':isCheckboxShown}">
        <ion-list can-swipe="false">
            <ion-item class="list_item" on-hold="showCheckbox(isCheckboxShown)" item-width="100%" item-height="collection_item_height" collection-repeat="item in filtered_sales_notice | orderBy:order">
                <div class="row row-center">
                    <div class="checkbox" ng-show="isCheckboxShown">
                        <input type="checkbox" class="checkbox-icon" ng-model="item.checked">
                    </div>
                    <div class="col list-col-con" ng-click="clickSelData(item)">
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                            <div class="col col-67 col-ellipsis text-left">{{item.doc_no}}</div>
                            <div class="col col-33 col-ellipsis text-right">{{item.create_date}}</div>
                        </div>
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}">
                            <div class="col col-50 col-ellipsis text-left">{{item.customer_name}}</div>
                            <div class="col col-50 col-ellipsis text-right">{{item.employee_name}}</div>
                        </div>
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="page_params.func=='fil202' && !(userInfo.isDisplay_no) && !(userInfo.isDisplay_name) && !(userInfo.isDisplay_spec)">
                            <div class="col col-50 col-ellipsis text-left">{{item.item_no}}</div>
                            <div class="col col-50 col-ellipsis text-right">{{item.plan_date_s}}</div>
                        </div>
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="page_params.func=='fil202' && userInfo.isDisplay_no">
                            <div class="col col-50 col-ellipsis text-left">{{item.item_no}}</div>
                            <div class="col col-50 col-ellipsis text-right">{{item.plan_date_s}}</div>
                        </div>
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="page_params.func=='fil202' && userInfo.isDisplay_name">
                            <div class="col col-50 col-ellipsis text-left">{{item.item_name}}</div>
                            <div class="col col-50 col-ellipsis text-right" ng-if="!userInfo.isDisplay_no">{{item.plan_date_s}}</div>
                        </div>
                        <div class="row row-center list-row-con" ng-class="{'col-small-padding':userInfo.font_size == 'normal'}" ng-if="page_params.func=='fil202' && userInfo.isDisplay_spec">
                            <div class="col col-50 col-ellipsis text-left">{{item.item_spec}}</div>
                            <div class="col col-50 col-ellipsis text-right" ng-if="!userInfo.isDisplay_no && !userInfo.isDisplay_name">{{item.plan_date_s}}</div>
                        </div>
                    </div>
                </div>
                <ion-option-button class="button-assertive"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
